@import "./utils/size"; 
@import "./utils/fonts";
@import "./utils/color";
@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/blogs";
@import "./blocks/videos";
@import "./blocks/rectangulos";
@import "./blocks/footer";


*{   
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
font-family:  Helvetica, sans-serif, Arial,
}








 