footer {
    height: 431px;
    background-color: rgb(230, 230, 230);
    bottom: -897px;
    position: relative;
}
.todaslaslista {
    display: flex;
    justify-content: space-evenly;
    bottom: -156px;
    position: relative;
}

.lineafooter {
    border-top: 1px solid lightgrey;
    top: 88px;
    position: relative;
    left: 96px;
    width: 1096px;
}