.navbar {
    color: white;
}

.inmediata {
   
    color: white;
}

.descubreloButtom {
    background-color: rgb(28, 105, 213);
    color: white;
}

.contenedorSerie {
   
    color: rgb(189, 189, 189);
}

.contenedortipos {
    
    color: rgb(189, 189, 189);
    
}

.precio{
    color: rgb(189, 189, 189);
}